{% extends 'base.html' %}
{% block content %}

<h1>Lesson Details</h1>

<div class="card-action">
  <div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ lesson }}</span>
          <p>Date: {{ lesson.date }}</p>
          <p>Time: {{ lesson.time }}</p>
          <p>Level: {{ lesson.level }}</p>
          <p>Location: {{ lesson.location }}</p>
          <p>Instructor: {{ lesson.instructor }} </p>
        </div>
        <div class="card-action">
          <a href="{% url 'lessons_update' lesson.id %}"><i class="material-icons">edit</i></a>
          <a href="{% url 'lessons_delete' lesson.id %}"><i class="material-icons">delete</i></a>
          <!-- <form action="{% url 'assoc_student' lesson.id user.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="waves-effect waves-light btn-small">
              <i class="material-icons">add</i> -->
          </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col s6">
      <h3>Students in {{ lesson }}</h3>
      {% if lesson.student.count %}
      {% for student in lesson.student.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ student.name }}</span>
        </div>
        <div class="card-action">
          <form action="{% url 'delete_student' lesson.id student.id %}" method="DELETE">
            {% csrf_token %}
            <button type="submit" class="waves-effect waves-light btn-small">Delete</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>No Students</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Students</h3>
      {% if students.count %}
      {% for student in students.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ student.name }}</span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_student' lesson.id student.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="waves-effect waves-light btn-small">Add</button>
          </form>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h5>{{lesson}} Already Has All Students Available</h5>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>