{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1 id="page-headlines">Edit <span class="white-text">{{object.name}}</span></h1>
{% else %}
<h3 id="page-headlines">Add Instructor</h3>
{% endif %}

<form action="" method="post" class="create-form">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn">
</form>


<script>
  const selectStudentEl = document.getElementById("id_student");
  M.FormSelect.init(selectStudentEl);
  const selectUserEl = document.getElementById("id_user");
  M.FormSelect.init(selectUserEl);
          
</script>

{% endblock %}