{% extends 'base.html' %}
{% block content %}

<h1>Add a Lesson</h1>

<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
            <div>
                <form action="{% url 'lessons_create' %}" method="POST">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <input type="submit" value="Confirm">
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const selectLevelEl = document.getElementById('id_level');
    M.FormSelect.init(selectLevelEl);
    const selectLocationEl = document.getElementById('id_location');
    M.FormSelect.init(selectLocationEl);
  </script>
  

{% endblock %}