{% extends 'base.html' %}
{% block content %}

{% if object %}
<h1>Edit <span class="teal-text">{{ object.name }}</span></h1>
{% else %}
<h1>Add Lesson</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn" />
</form>

<script>
  const selectLevelEl = document.getElementById("id_level");
  M.FormSelect.init(selectLevelEl);
  const selectLocationEl = document.getElementById("id_location");
  M.FormSelect.init(selectLocationEl);
</script>

{% endblock %}