{% extends 'base.html' %} 

{% block content %}

<h1>Today's Schedule</h1>
<a href="{% url 'lessons_create' %}">Add a Lesson</a>
{% for lesson in lesson_list %}
<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <div>
          <ul id="instructor-lesson-list">
            
            <a href="{% url 'lessons_details' %}">Lesson Details</a>
            
            <span class="card-title">{{ lesson }}</span>
            <p>time: {{lesson.time}}</p>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
{% endfor %}
{% endblock %}
