<script src="https://unpkg.com/ripple-effects"></script>

{% extends 'base.html' %} {% block content %}

<div class="center">
    <h1>About Surf Buddy</h1>
    <div class="carousel">
        <a class="carousel-item" href="#one!" style="color:black">Manage Surf Lessons<img src="https://totemsurftribe.files.wordpress.com/2024/04/nico-bhlr-qt-l619id6w-unsplash.jpg?resize=900%2C900" /></a>
        <a class="carousel-item" href="#two!" style="color:black">Connect & Stay in Touch<img src="https://totemsurftribe.files.wordpress.com/2024/04/elizeu-dias-xarhnplshtk-unsplash.jpg?resize=438%2C438" /></a>
        <a class="carousel-item" href="#three!" style="color:black">Keep Your Business Organized<img src="https://totemsurftribe.files.wordpress.com/2024/04/jeremy-bishop-ceeetjednls-unsplash.jpg?resize=438%2C438" /></a>
        <a class="carousel-item" href="#four!" style="color:black">Find Surf Buddies<img src="https://totemsurftribe.files.wordpress.com/2024/04/guy-kawasaki-2q3jhgr2mk8-unsplash.jpg?resize=438%2C438" /></a>
        <a class="carousel-item" href="#five!" style="color:black">Improve Surf Skills<img src="https://totemsurftribe.files.wordpress.com/2024/01/img_6227.jpg?resize=900%2C900" /></a>
    </div>
    <p>Hire Surf Buddy!</p>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        carouselEl = document.querySelectorAll(".carousel");
        var instances = M.Carousel.init(carouselEl);
    });
</script>
{% endblock %}