{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Surf Buddy</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Aladin&family=Allura&family=Anybody:ital,wght@0,100..900;1,100..900&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Comfortaa:wght@300..700&family=Goudy+Bookletter+1911&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Khand:wght@300&family=Licorice&family=Miriam+Libre:wght@400;700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Ojuju:wght@200..800&family=Over+the+Rainbow&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Parisienne&family=Truculenta:opsz,wght@12..72,100..900&family=Vibes&family=Yeseva+One&display=swap"
    rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.1.18/jquery.backstretch.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
  <ul id="slide-out" class="sidenav">
    <ul class="center">
      <div>
          <a id="logo-container" href="{% url 'home' %}" class="brand-logo" style="padding-bottom: 0;">
            <img id="side-nav-logo"
              src="https://totemsurftribe.files.wordpress.com/2024/04/screenshot_2024-04-12_at_12.52.55___pm-1.png">
          </a>
      </div>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
      <li><a href="{% url 'instructors_index' %}">Instructors</a></li>
      <li><a href="{% url 'index' %}">Lessons</a></li>
      <li><a href="{% url 'students_index' %}">Students</a></li>
      <li><a href="{% url 'lessons_create' %}">Add a Lesson</a></li>
      <li><a href="{% url 'students_create' %}">Add a Student</a></li>
      <li><a href="{% url 'instructors_create' %}">Add an Instructor</a></li>
      <li><a href="{% url 'tidechart' %}">Tide Chart</a></li>
      <li>
        <form action="{% url 'logout' %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Log Out</button>
        </form>
      </li>
      {% else %}
      <li><a href="{% url 'signup' %}">Sign Up</a></li>
      <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </ul>
  <header class="navbar-fixed">
    <nav>
    
      <div class="nav-wrapper">
        <ul id="slide-out" class="sidenav sidenav-fixed">
          <ul class="center">
            <a id="fixed-logo-container" href="{% url 'home' %}" class="center" style="padding-bottom: 0;">
              <img class="circle" id="side-nav-logo"
                src="https://totemsurftribe.files.wordpress.com/2024/04/screenshot_2024-04-12_at_12.52.55___pm-1.png">
            </a>
        
            
           <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'instructors_index' %}">Instructors</a></li>
            <li><a href="{% url 'index' %}">Lessons</a></li>
            <li><a href="{% url 'students_index' %}">Students</a></li>
            <li><a href="{% url 'lessons_create' %}">Add a Lesson</a></li>
            <li><a href="{% url 'students_create' %}">Add a Student</a></li>
            <li><a href="{% url 'instructors_create' %}">Add an Instructor</a></li>
            <li><a href="{% url 'tidechart' %}">Tide Chart</a></li>
            <li>
              <form action="{% url 'logout' %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn">Log Out</button>
              </form>
            </li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const navEl = document.querySelector('.sidenav');
        var instances = M.Sidenav.init(navEl, {
        })
        var collapsibleElem = document.querySelector('.collapsible');
        var collapsibleInstance = M.Collapsible.init(collapsibleElem, options);
      });
    </script>
       <script type="text/javascript">
        $(document).ready(function() {
            $.backstretch("'https://images.unsplash.com/photo-1484260001192-bfe826505222?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'");
          });
        </script>
    
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="right">All Rights Reserved, &copy; 2024 Surf Buddy &nbsp;
        </div>
      </div>
    </div>
  </footer>
</body>

</html>