{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Surf Buddy</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<nav>
  <div class="nav-wrapper">
    <a href="{% url 'home' %}" class="brand-logo center">&nbsp;&nbsp;Surf Buddy</a></li>
    <!-- <img class="circle responsive-image"src="https://totemsurftribe.files.wordpress.com/2024/04/21fe4e7b-ca7a-4713-bbed-20265bfdab48.jpeg?resize=438%2C438"> -->


    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'student_detail' user.id %}">Profile Page</a></li>
        <li><a href="{% url 'index' %}">View All Lessons</a></li>
        <li><a href="{% url 'lessons_create' %}">Add a Lesson</a></li>
        <li><a href="{% url 'students_index' %}">View All Students</a></li>
        <li><a href="{% url 'students_create' %}">Add a Student</a></li>
        <li><a href="{% url 'instructors_create' %}">Add an Instructor</a></li>
        <li><a href="{% url 'tidechart' %}">Tide Chart</a></li>
        <li>
          <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Log Out</button>
          </form>
        </li>
      {% else %}
        <li><a href="{% url 'signup' %}">Student Sign Up</a></li>
        <li><a href="{% url 'signup' %}">Instructor Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<body>
  <main class="container">
    {% block content %}
   
    <h1>Home</h1>
   
    <div class="row">

      <div class="col s4">
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s4">
        <!-- Promo Content 3 goes here -->
      </div>

    </div>

    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 Surf Buddy &nbsp;</div>
  </footer>
</body>

</html>