
body::after {
  content: "";
  background: url('https://images.unsplash.com/photo-1484260001192-bfe826505222?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

label{
  font-family: anybody;
  font-weight: 400;
  color: rgb(17, 15, 31);
}
.card{
  opacity: .7;
}
.btn-small, button.btn, input.btn {
  background-color: black;
  font-family: "PT Serif", sans-serif;
}
.btn-small, button.btn:hover, input.btn:hover{
  background-color: rgb(123, 123, 123);

}
.brand-logo {
  width: 160px;
  height: 160px;
  object-fit: contain;

  border-radius: 50%;
  padding-bottom: 0;
}

body {
   font-family: "PT Serif", serif;
  }
  nav, header.navbar-fixed, footer.page-footer{
    background-color: black;
    opacity: 1;
  }
  .page-footer{
    align-items: baseline;
    padding-bottom: 0;
    padding-top: 5px;
  }
  ul#slide-out.sidenav{
    border-style: groove;
    width: 222px;
  }
  div.nav-wrapper{
    height: 80px
  
  }
  #sidenav-overlay { 
    display: none;
   }
   header, main, footer {
    padding-left: 100px;
  }
  
  @media only screen and (max-width : 992px) {
    header, main, footer {
      padding-left: 0;
    }
  }
        
  body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
  
    main {
      flex: 1 0 auto;
    }
  